*{
    margin: 0;
    padding: 0;
}

main{
    width: 1050px;
  margin: 5%;
}
.request{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.first-row{
    color: #cacaca;
    display: inline-flex;
    margin-bottom: 10px;
    font-weight: bold;
}
.leave{
    margin-left: 230px;
}
.from{
    margin-left: 100px;
}
.hl{
    width: 100%;
    height: 2px;
    background: 1px #e9e5e8;
}
.main-row{
    display: inline-flex;
    align-items: center;
    padding-top: 15px;
    transition: 0.5s;
    padding-bottom: 15px;
    
}
.main-row:hover{
    background-color: #e9e5e8;
    cursor: pointer;
}
img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.name{
    margin-left: 6px;
    font-size: 15px;
    font-weight: bold;
}
.unpaid{
    margin-left: 157px;
    color: #919291;
    font-weight: bold;
    font-size: 15px;
}
.date{
    margin-left: 63px;
    color: #919291;
    font-weight: bold;
    font-size: 15px;
}
.disapprove{
    margin-left: 70px;
    color: #ef4d6b;
    font-weight: bold;
}
.btn{
    padding: 7px 13px;
    margin-left: 15px;
    background-color: #0beca3;
    color: white;
    border-radius: 5px;
}
.more{
    margin-left: 20px;
    color: #404541;
    font-weight: bold;
    font-size: 15px;
}
.hl-1{
    width: 100%;
    height: 1px;
    background: 1px #e9e5e8;
}


























